---
layout:   default
title:    主页Home
keywords: 张敏敏,主页Home
description: 张敏敏的个人站点,记录心情与知识。
---

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
    	<h2>{{ site.posts.first.title }}</h2>
      <span class="label"><i class="icon-time icon-white"></i> {{ page.date | date: "%Y-%m-%d" }}</span>
      {% for tag in site.posts.first.tags%}<span class="label"><i class="icon-tag icon-white"></i> {{ tag }}</span>{% endfor %}
      <p>{{ site.posts.first.content | strip_html | truncatewords: 20 }}</p>
      <!-- UYAN COUNT BEGIN -->
      <a class="btn" href="{{ site.posts.first.url }}" id="uyan_count_unit">评论(0)</a>
      <!-- UYAN COUNT END -->
      <a class="btn" href="{{ site.posts.first.url }}">阅读全文..</a>
    </div>
  </div>
</div>
<hr>
<div class="container-fluid">
  <div class="row-fluid">
		{% for post in site.posts limit:2 offset:1 %}
		<div class="span6">
			<h2>{{ post.title }}</h2>
			<span class="label"><i class="icon-time icon-white"></i> {{ page.date | date: "%Y-%m-%d" }}</span>
			{% for tag in post.tags%}<span class="label"><i class="icon-tag icon-white"></i> {{ tag }}</span>{% endfor %}
			<p>{{ post.content | strip_html | truncatewords: 10 }}</p>
			<!-- UYAN COUNT BEGIN -->
			<a class="btn" href="{{ post.url }}" id="uyan_count_unit">评论(0)</a>
			<!-- UYAN COUNT END -->
			<a class="btn" href="{{ post.url }}">阅读全文..</a>
		</div>
		{% endfor %}
	</div>
</div>
<hr>
<div class="container-fluid">
  <div class="row-fluid">
		{% for post in site.posts limit:2 offset:3 %}
		<div class="span6">
			<h2>{{ post.title }}</h2>
			<span class="label"><i class="icon-time icon-white"></i> {{ page.date | date: "%Y-%m-%d" }}</span>
			{% for tag in post.tags%}<span class="label"><i class="icon-tag icon-white"></i> {{ tag }}</span>{% endfor %}
			<p>{{ post.content | strip_html | truncatewords: 10 }}</p>
			<!-- UYAN COUNT BEGIN -->
			<a class="btn" href="{{ post.url }}" id="uyan_count_unit">评论(0)</a>
			<!-- UYAN COUNT END -->
			<a class="btn" href="{{ post.url }}">阅读全文..</a>
		</div>
		{% endfor %}
	</div>
</div>
<hr>


